<%= flash[:notice] %>
<%= form_tag("/static_pages/thank_you") do %>
  <div class="row">
    <div class="col-md-4">
      <h1 class="headline">Contact Us</h1>
        <div class="form-group">
          <%= label_tag :name, "Name", class: "contacts" %>
          <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
        </div><!-- end form-group -->
        <div class="form-group">
          <%= label_tag :email, "Email Address", class: "contacts" %>
          <%= text_field_tag :email, nil, class: "form-control",:required => true, placeholder: "Enter Email" %>
        </div><!-- end form-group -->
        <div class="form-group">
          <%= label_tag :message, "Message", class: "contacts" %>
          <%= text_area_tag :message, nil, class: "form-control",:required => true, placeholder: "Enter Message" %>
        </div><!-- end form-group -->   
    </div><!-- end col -->
  </div><!-- end row -->
  <%= submit_tag "Send", class: "btn btn-primary" %>   
<% end %>

<div>
  <h4 class="adress">Visit Us:</h4>
  <p class="adress">Bikes Berlin</p>  
  <p class="adress">Streets of Berlin</p>
  <p class="adress">10101 Berlin</p>
  <p class="adress">+49 30 555 852</p>
</div>

<%#= image_tag("contact.jpg", class: "img-responsive", class: "contact-img") %>
<!--<p>contact us for more information or questions about bikes</p>-->

