<div class="col-sm-2 col-md-4">
  <%= image_tag(product.image_url, class: "img-responsive image-prod") %>
  <h3><%= product.name %></h3>
  <p class="description"><%= product.description %></p>
  <p class="color"><%= product.colour %></p>
  <p class="price">€</span>
  <%= product.price %></p>
</div><!-- end col -->
