<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-4">
    <p>
      <strong><%= image_tag(@product.image_url, width: "90%", class: "img-show", class: "thumbnail") %></strong>
      <%= link_to 'Back to Overview', products_path, class: "btn btn-info" %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <strong><%= @product.name %></strong>
    </p>
    <p>
      <strong><%= @product.description %></strong>
    </p>
    <p>
      <strong>Colour:</strong>
      <%= @product.colour %>
    </p>
  </div>
  <div class="col-md-4">
    <p class="product-price">
      <strong><span class="glyphicon glyphicon-euro"</span></strong>
      <%= @product.price %>
    </p>
    <p>
      <strong>Best comment: </strong>
      <%= @product.highest_rating_comment.body %> 
    </p>
    <p>
      <strong>And a not so good comment: </strong>
      <%= @product.lowest_rating_comment.body %>
    </p>

  </div>
</div>
<div class="links">
  <% if signed_in? %>
    <%= link_to 'Edit this product', edit_product_path(@product) %> 
  <% end %>
</div>

